<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Videos</h1>

    <div class="container">
      {{range .}}
      <div class="row">
        {{range .}}
        <div class="col-lg-4">
          <a href="/video/{{.FileName}}"><img style="width: 100%" src="{{if .Thumbnail.URL }}{{ .Thumbnail.URL }}{{else}}/static/default-thumbnail.png{{end}}">{{.FileName}}</a>
        </div>
        {{end}}
      </div>
      {{end}}
    </div>
  </body>
</html>
